<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot Simple</title>
    <link rel="stylesheet" href="../estilos/styles.css">
</head>
<body>
<main>
    <ul class="mensajes">
    </ul>
</main>
<form>
    <input id="mensaje  " type="text" placeholder="escribe tu pregunta">
    <button type="submit" class="sumbit">Enviar</button>
</form>
<small></small>
<template id="mensaje-template">
    <li class="mensaje">
        <span></span>
        <p></p>
    </li>
</template>
<script type="module" src="../funciones/scripts.js"></script>
</body>
</html>